.nav-bar {
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.logo-icon {
  color: red;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  width: 15%;
}

.right-nav-components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  margin: 10px 6px 10px 6px;
  text-decoration: none;
}
